.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: #f4f1ec;
  background-image: url("https://www.transparenttextures.com/patterns/silver-scales.png");  
}

h2 {
  margin: 0;
}

/* .avatar {
  display: flex;
  justify-content: center;
  align-content: center;
}

.header-name {
  display: flex;
  justify-content: center;
  align-content: center;
} */