nav {
  display: flex;
  background-color: #4056A1;
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  width: 100%;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 22px;
}

.arrow {
  color: red;
  display: flex;
  justify-content: center;

}

p {
 margin: 0; 
}