form {
  display: flex;
  flex-direction: column;
}

.new-tweet {
  color: black;
}

button {
  display: flex;
  background-color :#4056A1;
  font-size: 0.8em;
  color: #FFFFFF;
  align-items: center;
}

textarea {
  background-image: url("https://www.transparenttextures.com/patterns/silver-scales.png");  
  background-color: #f4f1ec;
  border-bottom: 3.5px solid;
  margin-bottom: 25px;
  border-bottom-style: groove;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  resize: none;
  height: 40px;
  margin-top: 15px;
  font-size: 0.8em;

}

.tweet-counter {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}

.title-tweet {
  font-size: 1em;
  margin: 0;
  padding-top: 40px;
  font-family: "Fredoka";
  font-weight: 600;
}

.time-ago {
  color: grey;
  font-style: italic;
}

.error {
  color: red;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  display: flex;
  display: none;
  flex-direction: row;
  align-items: center;
}